.content {
  display: flex;
  column-gap: 10px;
  align-items: flex-end;
  justify-content: flex-end;

  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
}

.dropdownWrapper {
  display: flex;
  column-gap: 15px;
  align-items: center;
}

.userEmail {
  display: flex;
  border-bottom: 1px dashed;
}

.iconButton {
  cursor: pointer;
  display: flex;
}

.emailColor {
  color: var(--color-dark-100);
}

.flexColumn {
  display: flex;
  flex-direction: column;
}
