.parallax-container {
  display: inline-block;
  perspective: 1000px;
}

.parallax-image {
  transform-style: preserve-3d;

  display: block;

  width: 100%;
  height: auto;

  transition: transform 0.1s ease;
}
