.container {
  width: 100%;
  max-width: calc(var(--max-width) + (var(--horizontal-padding) * 2));
  min-height: 100%;
  margin: 0 auto;
  padding: 0 var(--horizontal-padding);
}

.section {
  padding: 100px 0;
}

.app {
  background-color: var(--color-dark-500);
}
