.mainContainer {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  align-items: center;
  justify-content: center;

  height: 100vh;
  padding: 150px 0 100px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin-bottom: 0;
  }
}

.img {
  height: 430px;
}

.photoWrapper {
  position: relative;
  z-index: 1;
  margin-right: 3%;

  &::before {
    content: '';

    position: absolute;
    z-index: -1;
    top: -20px;
    left: 20px;

    width: 330px;
    height: 470px;

    border: 5px solid var(--color-info-500);

    @media screen and (width <= 576px) {
      top: -16px;
      left: 16px;
      width: 314px;
      height: 414px;
    }
  }

  .parallaxEffectImg {
    position: relative;
    z-index: 1;
    transform-style: preserve-3d;
    transform: perspective(1000px);

    width: 350px;
    height: 430px;

    //background-image: url('../../assets/images/mainPhoto/photoBackground.webp');
    background-repeat: no-repeat;
    background-size: cover;

    .photo {
      transform: translateZ(30px) scale(0.96);
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  //.mobilePhotoBackground {
  //  position: relative;
  //  z-index: 1;
  //
  //  width: 350px;
  //  height: 430px;
  //  margin-right: 10px;
  //
  //  background-image: url('../../assets/images/mainPhoto/photoBackground.webp');
  //  background-repeat: no-repeat;
  //  background-size: cover;
  //
  //  .mobilePhoto {
  //    width: 100%;
  //    height: 100%;
  //    object-fit: cover;
  //  }
  //
  //  @media screen and (width <= 576px) {
  //    width: 310px;
  //    height: 380px;
  //  }
  //}

  @media screen and (width <= 1040px) {
    margin-top: 35px;
  }
}
