.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin-bottom: 0;
  }
}

.img {
  height: 300px;
}
